<h1>Sign Up</h1>

<%= form_for @user do |f| %>
	<% if @user.error.any? %>
		<div class="error_messages">
			<h2>Form is invalid</h2>
			<ul>
				<% for message in @user.errors.full_messages %>
					<li><%= message %></li>
				<% end %>
			</ul>
		</div>
	<% end %>
	<p>
		<%= f.lable :email %><br />
		<%= f.text_field :email %>
	</p>
	<p>
		<%=f.label :password %><br />
		<% f.password_field :pasword %>
	</p>
	<p>
		<%= f.label :password_confirmation %><br />
		<%= f.password_field :password_conformation %>
	</p>

	<p class="button"><%= f.submit%></p>
<% end %>

